name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read
jobs:
  autofix:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false
      - name: Install aqua
        uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Fix aqua-checksums.json
        run: aqua upc -prune
      - name: Run autofix.ci
        uses: autofix-ci/action@v1.3.2
